<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- <property name = "hibernate.connection.url">jdbc:postgresql://localhost:8432/ohdsi</property> -->
        <!-- <property name = "hibernate.connection.username">postgres</property> -->
        <!-- <property name = "hibernate.connection.password">yourpassword</property> -->
        <property name = "hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name = "hibernate.show_sql">false</property>
        <!-- Optional: Auto-generate schema -->
        <!-- <property name = "hibernate.hbm2ddl.auto">create</property> -->
    </session-factory>
</hibernate-configuration>
